<div ng-app="app">
  <div ng-controller="stuffCtrl">

    {{ message }}<br>
    <input ng-model="message">

    <div id="reviews">
      <h4>AngularJS Reviews:</h4>
      <li ng-repeat="review in reviews">{{ review }}
      <input ng-model="review"></li>
    </div>

    <h4>Leave your own review:</h4>
    <input ng-model="newReview">
    <button ng-click="addReview(newReview)">Add Review</button>

  </div>
</div>